<? $partViewer->view('parts/header') ?>
<? $partViewer->view('parts/left-column') ?>
	<!-- MAIN CONTENT -->
	<div class="span9" id="main-content">
		<div class="page-header"><h1>onPHP Inception</h1></div>
		
		<div class="row-fluid">
			<h4>Welcome to <b>onPHP Inception</b>!</h4>
			<p>
				This is <b>IndexController</b>. It has <b>'ALLOW_ACCESS_ALL'</b> constant set to <b>'true'</b> which allows anyone to access this page.
			</p>			
			<div class="span6" style="margin-left: 0;">
				<h4>News title №1</h4>
				<p>
					Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

					Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
				</p>
				<small class="muted">05.02.2014 18:35</small>
			</div>
			<div class="span6">
				<h4>News title №2</h4>
				<p>
					Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

					Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
				</p>
				<small class="muted">05.02.2014 18:35</small>
			</div>
		</div>
		<div class="divider-horizontal "></div>
		<div class="row-fluid">
			<div class="span6">
				<h4>News title №3</h4>
				<p>
					Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

					Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
				</p>
				<small class="muted">05.02.2014 18:35</small>
			</div>
			<div class="span6">
				<h4>News title №4</h4>
				<p>
					Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

					Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
				</p>
				<small class="muted">05.02.2014 18:35</small>
			</div>
		</div>
	</div>
	<!-- @END MAIN CONTENT -->
<? $partViewer->view('parts/footer') ?>