<? $partViewer->view('parts/header') ?>
<? $partViewer->view('parts/left-column') ?>
<!-- MAIN CONTENT -->
<div class="span9" id="main-content">
	<div class="page-header"><h1><?= $pageTitle ?></h1></div>
	<? if ($crudMessage = $flashMessagesManager->getMessage('crudMessage')): ?>
		<div class="well well-small well-plain alert-success">
			<strong><?= $crudMessage ?></strong>
		</div>
	<? endif ?>
	<? $partViewer->view('entityList') ?>
</div>
<!-- @END MAIN CONTENT -->
<? $partViewer->view('parts/footer') ?>