</div>
</div>
</div>
<div class="clearfix"></div>
<div class="footer navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<div class="row-fluid">
				<div class="span2">
					<span class="label label-plain">&copy; 2014 onPHP Inception</span>
				</div>
				<div class="span10">
					<div class="pull-right">
						<span class="label label-plain">email: <a href="mailto:ernest.gorbikov@gmail.com">ernest.gorbikov@gmail.com</a></span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- @END WRAPPER -->
</body>
</html>